{% extends 'base.html' %}

{% block title %} <title>Login</title> {% endblock %}

{% block content %}
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="833763784272-tfhgbm3tta3nf9di47fkjrhcku2rv6qe.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<header class="w3-display-container px-1" style="margin-top:30px;width:300px;margin-left:auto;margin-right:auto">
    <div class="w3-container" style="text-align:center;">
        <!-- title and icon -->
        <a href="/home" class="w3-row badge badge-light rounded-circle" >
            <img class="w3-image" src="static/style/Icon1.png" width="60" height="60" alt="">
        </a>
        <div class="w3-row my-2">
            <h4 style="opacity:0.8">Sign in to Lin's notebook</h4>
        </div>
    </div>
        <!-- form -->
    <form action="{{ url_for('login.check_login') }}" method="post" class="card w3-container bg-white" style="font-size:15px;opacity:0.9;">
        <div class="w3-row form-group mt-4">
            <label for="usernmae"><b>Username</b></label>
            <input class="form-control" placeholder="Username" id="username" name="username" aria-describedby="username-help">
        </div>
        <div class="w3-row form-group">
            <label for="pass"><b>Password</b></label>
            <input type="password" name="pass" class="form-control" id="pass" placeholder="Password">
        </div>
        <div class="w3-row" style="text-align:center">
            <button type="submit" class="w3-row btn btn-primary" style="width:100%">Sign in</button>
        </div>
        <!-- google sign in -->
        <div class="w3-row g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div class="mt-2" style="text-align:center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <small class="w3-text-red"> {{ message |safe }} </small>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <span class="mb-4"></span>
    </form>
    <div class="w3-container mt-3">
        <p>New to Lin's Notebook? <span><a href="{{ url_for('login.register') }}">Create an account</a></span></p>
    </div>
</header>

<script>
    function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
    }
</script>
{% endblock %}
